img {
  max-width: 100%;
}

.hero-area {
  box-sizing: border-box;
  background-image: linear-gradient(90deg, #ffffff 30%, #5e3bbd);
  position: relative;
  overflow: hidden;
}

.hero-area .hero-area-shape {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: 1;
}

.hero-area-wrapper {
  max-width: 1440px;
  padding: 100px 50px;
  margin: 0 auto;
  display: grid;
  gap: 30px;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.hero-area-media,
.hero-area-content {
  position: relative;
  z-index: 2;
}

/* Hero text Area */
.hero-area-content {
  max-width: 650px;
}

.hero-area-quality-badge {
  color: #000000;
  margin: 0 0 15px;
  line-height: 1.43;
  text-transform: uppercase;
  position: relative;
  padding-left: 30px;
}

.hero-area-quality-badge::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 25' fill='none'%3E%3Cg clip-path='url(%23clip0_5842_7493)'%3E%3Cpath d='M18.9498 7.17017H18.0938C17.8996 7.17017 17.7422 7.32753 17.7422 7.52173C17.7422 7.71594 17.8996 7.8733 18.0938 7.8733H18.9498L20.0295 8.95302V9.80914C20.0295 10.0033 20.187 10.1607 20.3811 10.1607C20.5753 10.1607 20.7327 10.0033 20.7327 9.80914V8.95302L21.8124 7.8733H22.6685C22.8626 7.8733 23.02 7.71594 23.02 7.52173C23.02 7.32753 22.8626 7.17017 22.6685 7.17017H21.8124L20.7327 6.09045V5.23438C20.7327 5.04017 20.5753 4.88281 20.3811 4.88281C20.187 4.88281 20.0295 5.04017 20.0295 5.23438V6.09045L18.9498 7.17017ZM20.3811 8.31017L19.5927 7.52173L20.3811 6.7333L21.1695 7.52173L20.3811 8.31017Z' fill='%2317542B'/%3E%3Cpath d='M22.5987 17.1975C22.3911 17.0577 22.1202 17.092 21.9546 17.2792C20.6002 18.8109 18.7397 19.8256 16.7157 20.1365C14.3985 20.4925 12.0814 19.9246 10.1912 18.5378C9.52502 18.049 8.94011 17.479 8.44619 16.8443L9.04731 16.2432H9.90344C10.0976 16.2432 10.255 16.0858 10.255 15.8916C10.255 15.6974 10.0976 15.5401 9.90344 15.5401H9.04736L7.96764 14.4604V13.6043C7.96764 13.4101 7.81024 13.2527 7.61608 13.2527C7.42192 13.2527 7.26452 13.4101 7.26452 13.6043V14.4604L7.16861 14.5563C6.95491 13.9862 6.80061 13.3956 6.70816 12.7938C6.2597 9.87411 7.29203 6.94784 9.46956 4.96606C9.50438 4.93517 9.53272 4.89768 9.55294 4.85575C9.57315 4.81383 9.58484 4.76831 9.58733 4.72183C9.58981 4.67535 9.58304 4.62885 9.56742 4.585C9.55179 4.54116 9.52761 4.50086 9.49628 4.46644C9.46495 4.43202 9.4271 4.40415 9.38492 4.38447C9.34275 4.36479 9.29708 4.35368 9.25058 4.35179C9.20407 4.34989 9.15765 4.35725 9.11401 4.37344C9.07037 4.38962 9.03038 4.41431 8.99636 4.44607C6.64413 6.58685 5.52892 9.74731 6.01324 12.9005C6.12877 13.6551 6.33447 14.3932 6.62594 15.0988L6.18475 15.54H5.32867C5.13452 15.54 4.97711 15.6973 4.97711 15.8915C4.97711 16.0857 5.13452 16.2431 5.32867 16.2431H6.18475L7.26447 17.3229V18.1789C7.26447 18.3732 7.42188 18.5305 7.61603 18.5305C7.81019 18.5305 7.9676 18.3732 7.9676 18.1789V17.3722C8.48453 18.0188 9.08983 18.6017 9.77524 19.1046C11.8168 20.6026 14.3196 21.2159 16.8223 20.8314C18.5059 20.5728 20.0848 19.8633 21.39 18.795C20.6751 19.8579 19.7815 20.7998 18.7563 21.5639C17.2888 22.6577 15.5503 23.3837 13.7288 23.6635C10.7471 24.1213 7.76542 23.3908 5.33317 21.6063C2.90092 19.8216 1.30924 17.1967 0.851267 14.215C0.394189 11.239 1.12816 8.25785 2.91799 5.82059C4.70781 3.38337 7.33263 1.7907 10.309 1.33601C12.3378 1.02607 14.356 1.26129 16.2223 2.01607C15.4699 1.9496 14.7097 1.97431 13.95 2.09056C12.6659 2.28696 11.461 2.7305 10.3688 3.40887C10.2911 3.45876 10.2362 3.5372 10.2159 3.62725C10.1955 3.7173 10.2114 3.81174 10.2601 3.89017C10.3088 3.96859 10.3864 4.02471 10.4762 4.04641C10.5659 4.0681 10.6606 4.05362 10.7397 4.0061C11.7508 3.37817 12.8666 2.9675 14.0563 2.78557C14.0984 2.77915 14.1405 2.77367 14.1826 2.76781V6.99476C13.4089 7.15385 12.8208 7.82698 12.7919 8.64021L10.9297 10.226C10.891 10.259 10.8598 10.3001 10.8385 10.3463C10.8172 10.3925 10.8061 10.4428 10.8061 10.4937V15.3605C10.8061 15.4114 10.8172 15.4617 10.8385 15.508C10.8598 15.5542 10.891 15.5952 10.9297 15.6282L12.7924 17.2144C12.814 17.8033 13.1364 18.3499 13.6459 18.652C13.7314 18.7026 13.8047 18.7781 13.8578 18.8701L14.2297 19.5142C14.2606 19.5676 14.305 19.612 14.3584 19.6428C14.4119 19.6737 14.4725 19.6899 14.5342 19.6899C14.5959 19.6899 14.6565 19.6737 14.7099 19.6428C14.7634 19.612 14.8077 19.5676 14.8386 19.5142L15.2105 18.8701C15.2636 18.7781 15.3369 18.7026 15.4223 18.652C15.9319 18.3499 16.2543 17.8033 16.2759 17.2144L18.1386 15.6282C18.1773 15.5952 18.2085 15.5542 18.2298 15.508C18.2511 15.4617 18.2622 15.4114 18.2622 15.3605V13.813C18.2622 13.6188 18.1048 13.4614 17.9106 13.4614C17.7165 13.4614 17.5591 13.6188 17.5591 13.813V15.009H16.2493V10.8453H17.5591V12.1724C17.5591 12.3666 17.7165 12.5239 17.9106 12.5239C18.1048 12.5239 18.2622 12.3666 18.2622 12.1724V10.4937C18.2622 10.4428 18.2511 10.3925 18.2298 10.3463C18.2085 10.3001 18.1773 10.259 18.1386 10.226L16.2764 8.64021C16.2475 7.82703 15.6595 7.15385 14.8858 6.99476V2.69825C15.7735 2.6458 16.664 2.72997 17.5262 2.94781C17.7691 3.00917 18.0126 2.88467 18.1054 2.65212C18.1981 2.4199 18.1071 2.16242 17.8891 2.03975C15.5357 0.716042 12.878 0.232386 10.2029 0.640948C7.04083 1.12404 4.25247 2.81567 2.35141 5.40439C0.450392 7.9931 -0.329139 11.1599 0.156439 14.3217C0.642908 17.489 2.33369 20.2774 4.91735 22.1731C6.9978 23.6996 9.45635 24.5001 11.989 24.5C12.6015 24.5 13.2187 24.4532 13.8356 24.3584C15.7704 24.0613 17.6172 23.2899 19.1765 22.1276C20.6858 21.0027 21.9269 19.5148 22.7654 17.8252C22.8766 17.6013 22.8064 17.3373 22.5987 17.1975ZM7.61613 16.6801L6.82764 15.8916L7.61613 15.1032L8.40456 15.8916L7.61613 16.6801ZM13.2714 9.15542H13.4161L12.9483 10.142H12.1128L13.2714 9.15542ZM13.2714 16.6986L12.1128 15.712H12.9483L13.4161 16.6986H13.2714ZM15.0638 18.0471C14.8748 18.1592 14.715 18.3222 14.6016 18.5185L14.5342 18.6353L14.4668 18.5186C14.3535 18.3222 14.1937 18.1592 14.0046 18.047C13.7629 17.9038 13.5918 17.6685 13.5249 17.4018H15.5435C15.4766 17.6685 15.3055 17.9038 15.0638 18.0471ZM13.7264 15.712H15.3419L14.8741 16.6986H14.1943L13.7264 15.712ZM15.797 9.15542L16.9556 10.142H16.1201L15.6523 9.15542H15.797ZM16.1201 15.712H16.9556L15.797 16.6986H15.6523L16.1201 15.712ZM15.5462 15.0089H13.5222V13.6254C13.5222 13.4312 13.3648 13.2738 13.1706 13.2738C12.9765 13.2738 12.8191 13.4312 12.8191 13.6254V15.0089H11.5093V10.8452H12.8191V11.9848C12.8191 12.179 12.9765 12.3364 13.1706 12.3364C13.3648 12.3364 13.5222 12.179 13.5222 11.9848V10.8452H15.5462V15.0089ZM13.7264 10.142L14.1943 9.15542H14.8741L15.3419 10.142H13.7264ZM15.5442 8.45229H13.5242C13.6366 7.99901 14.0467 7.66203 14.5342 7.66203C15.0217 7.66203 15.4318 7.99906 15.5442 8.45229Z' fill='%2317542B'/%3E%3Cpath d='M23.8545 13.4555L23.0175 12.6185C22.9762 12.577 22.9271 12.544 22.8729 12.5216C22.8188 12.4992 22.7607 12.4878 22.7022 12.4879C22.6436 12.4878 22.5855 12.4992 22.5314 12.5216C22.4772 12.544 22.4281 12.577 22.3867 12.6185L21.5498 13.4555C21.3759 13.6294 21.3759 13.9124 21.5498 14.0863L22.3869 14.9234C22.4738 15.0102 22.5879 15.0536 22.7021 15.0536C22.8163 15.0536 22.9305 15.0101 23.0175 14.9233L23.8544 14.0863C24.0284 13.9124 24.0284 13.6294 23.8545 13.4555ZM22.7022 14.2443L22.2288 13.7708L22.7022 13.2975L23.1755 13.7708L22.7022 14.2443ZM11.783 7.93828C11.8673 7.854 11.9137 7.74197 11.9137 7.62286C11.9137 7.50375 11.8673 7.39172 11.783 7.30744L10.9461 6.47053C10.8619 6.38625 10.7498 6.33984 10.6307 6.33984C10.5115 6.33984 10.3995 6.3862 10.3152 6.47044L9.4783 7.30739C9.39406 7.39167 9.34766 7.5037 9.34766 7.62281C9.34766 7.74192 9.39406 7.85395 9.4783 7.93819L10.3152 8.77519C10.3995 8.85942 10.5115 8.90578 10.6307 8.90578C10.7498 8.90578 10.8619 8.85938 10.946 8.77519L11.783 7.93828ZM10.1573 7.62286L10.6307 7.14947L11.1041 7.62286L10.6307 8.09625L10.1573 7.62286ZM19.4418 17.9133C19.535 17.9133 19.6244 17.8762 19.6904 17.8103C19.7563 17.7444 19.7933 17.655 19.7933 17.5617V17.161H20.194C20.3882 17.161 20.5456 17.0037 20.5456 16.8095C20.5456 16.6153 20.3882 16.4579 20.194 16.4579H19.7933V16.0572C19.7933 15.863 19.6359 15.7057 19.4418 15.7057C19.2476 15.7057 19.0902 15.863 19.0902 16.0572V16.4579H18.6895C18.4954 16.4579 18.338 16.6153 18.338 16.8095C18.338 17.0037 18.4954 17.161 18.6895 17.161H19.0902V17.5617C19.0902 17.655 19.1272 17.7444 19.1932 17.8103C19.2591 17.8762 19.3485 17.9133 19.4418 17.9133Z' fill='%2317542B'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_5842_7493'%3E%3Crect width='24' height='24' fill='white' transform='translate(0 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0;
}

h1.hero-area-main-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  font-size: 112px;
  color: #5e3bbd;
  margin: 45px 0 14px;
}

.hero-area-main-title span {
  display: inline-block;
  width: 180px;
  font-size: 64px;
  line-height: 1;
}

.hero-area-main-title span.colored-text {
  color: #000;
}

.hero-area-buy-now-btn {
  border-radius: 50px;
  padding: 8px 18px 8px 25px;
  line-height: 1.32;
  background-color: #5e3bbd;
  color: #fff;
  border: 1px solid #5e3bbd;
  transition: 0.3s ease;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-size: 24px;
  font-family: DK Jalebi !important;
  font-weight: 400 !important;
  letter-spacing: 2px;
  text-decoration: none;
  margin-top: 20px;
}

img.hero-area-btn-arrow-img {
  width: 26px;
}

.hero-area-buy-now-btn:hover {
  box-shadow: 3px 3px 0 #9abd3f;
  transform: translateY(-5px);
}

/* Responsive Area */
@media screen and (max-width: 1024px) {
  h1.hero-area-main-title {
    /* flex-wrap: wrap; */
    font-size: 72px;
  }

  .hero-area-main-title span {
    width: 124px;
    font-size: 42px;
  }
}

@media screen and (max-width: 990px) {
  .hero-area-wrapper {
    padding: 100px 20px;
    flex-direction: column;
    display: flex;
  }

  .hero-area {
    background-image: linear-gradient(180deg, #fff 30%, #5e3bbd);
  }

  .hero-area-image-container {
    max-width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .hero-area-wrapper {
    padding: 100px 20px;
    flex-direction: column;
    display: flex;
  }

  .hero-area {
    background-image: linear-gradient(180deg, #fff 30%, #5e3bbd);
  }

  h1.hero-area-main-title {
    font-size: 56px;
    line-height: 1;
    gap: 15px;
  }

  .hero-area-main-title span {
    width: 100px;
    font-size: 36px;
  }

  del.hero-area-original-price {
    font-size: 18px;
  }

  span.hero-area-current-price {
    font-size: 20px;
  }

  .hero-area-callout-img {
    display: none;
  }
}
