<div class="recipe-blog-area">
  <h2>Stock up on your favorite recipe</h2>
  <div class="swiper recipe-blog-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="recipe-defficulty-area">
          <div class="recipe-defficulty">Recipe defficulty area</div>
          <div class="recipe-defficutly-level">Recipe defficutly area</div>
        </div>
        <div class="recipe-image-area">
          <img src="https://cdn.shopify.com/s/files/1/0763/3643/1325/files/r3.png?v=1751700433">
        </div>
        <div class="recipe-title-area">
          <h3><a href="#">Title</a></h3>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="recipe-defficulty-area">
          <div class="recipe-defficulty">Recipe defficulty area</div>
          <div class="recipe-defficutly-level">Recipe defficutly area</div>
        </div>
        <div class="recipe-image-area">
          <img src="https://cdn.shopify.com/s/files/1/0763/3643/1325/files/r3.png?v=1751700433">
        </div>
        <div class="recipe-title-area">
          <h3><a href="#">Title</a></h3>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="recipe-defficulty-area">
          <div class="recipe-defficulty">Recipe defficulty area</div>
          <div class="recipe-defficutly-level">Recipe defficutly area</div>
        </div>
        <div class="recipe-image-area">
          <img src="https://cdn.shopify.com/s/files/1/0763/3643/1325/files/r3.png?v=1751700433">
        </div>
        <div class="recipe-title-area">
          <h3><a href="#">Title</a></h3>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="recipe-defficulty-area">
          <div class="recipe-defficulty">Recipe defficulty area</div>
          <div class="recipe-defficutly-level">Recipe defficutly area</div>
        </div>
        <div class="recipe-image-area">
          <img src="https://cdn.shopify.com/s/files/1/0763/3643/1325/files/r3.png?v=1751700433">
        </div>
        <div class="recipe-title-area">
          <h3><a href="#">Title</a></h3>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="recipe-defficulty-area">
          <div class="recipe-defficulty">Recipe defficulty area</div>
          <div class="recipe-defficutly-level">Recipe defficutly area</div>
        </div>
        <div class="recipe-image-area">
          <img src="https://cdn.shopify.com/s/files/1/0763/3643/1325/files/r3.png?v=1751700433">
        </div>
        <div class="recipe-title-area">
          <h3><a href="#">Title</a></h3>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="recipe-defficulty-area">
          <div class="recipe-defficulty">Recipe defficulty area</div>
          <div class="recipe-defficutly-level">Recipe defficutly area</div>
        </div>
        <div class="recipe-image-area">
          <img src="https://cdn.shopify.com/s/files/1/0763/3643/1325/files/r3.png?v=1751700433">
        </div>
        <div class="recipe-title-area">
          <h3><a href="#">Title</a></h3>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="recipe-defficulty-area">
          <div class="recipe-defficulty">Recipe defficulty area</div>
          <div class="recipe-defficutly-level">Recipe defficutly area</div>
        </div>
        <div class="recipe-image-area">
          <img src="https://cdn.shopify.com/s/files/1/0763/3643/1325/files/r3.png?v=1751700433">
        </div>
        <div class="recipe-title-area">
          <h3><a href="#">Title</a></h3>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="recipe-defficulty-area">
          <div class="recipe-defficulty">Recipe defficulty area</div>
          <div class="recipe-defficutly-level">Recipe defficutly area</div>
        </div>
        <div class="recipe-image-area">
          <img src="https://cdn.shopify.com/s/files/1/0763/3643/1325/files/r3.png?v=1751700433">
        </div>
        <div class="recipe-title-area">
          <h3><a href="#">Title</a></h3>
        </div>
      </div>
    </div>
    <div class="slider-buttons">
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Recipe Blog",
  "presets": [
    {
      "name": "Recipe Blog",
    }
  ]
}
{% endschema %}
